* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header, .introduction {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 0;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    color: #E5E7EB;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 18px;
    font-weight: lighter;
}

li:hover {
    color: hotpink;
}

a:link {
    color: #F9FAF8;
}
a:active {
    color: #3882F6;
}
a:visited {
    color: #3882F6;
}

a:hover {
    color: hotpink;
}

.left {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding: 20px;
    gap: 6px;
}

.right {
    display: flex;
    margin-left: auto;
    margin-right: 200px;
    padding: 20px;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    gap: 60px;
    max-width: 500px;
}

.sign-up, .altsign-up {
    background: #3883F6;
    color: white;
    border-radius: 8px;
    padding: 8px;
    max-width: 130px;
    max-height: 35px;
    transition-duration: 0.4s;
    flex-shrink: 0;
}

button:active {
    box-shadow: 0 5px #E5E7EB;
    color: hotpink;
    transform: translateY(8px)
}

.sign-up {
    border: none;
    margin-top: 28px;
}
.sign-up:hover {
    background-color: white;
    color: #3882F6;
}

.altsign-up {
    border: 2px solid white;
    margin-left: auto;
    margin-right: 50px;
    align-self: center;
}
.altsign-up:hover {
    background-color: white;
    color: #3883F6;
}

.dogs {
    max-width: 500px;
    max-height: 300px;
    margin-right: 50px;
}

.subheader, .information {
    display: flex;
    justify-content: center;
}

.subtitle {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 20px;
    margin-bottom: 56px;
}

.information {
    text-align: center;
    gap: 100px;
    margin-bottom: 58px;
}

.dog {
    width: 200px;
    height: 200px;
    margin-bottom: 55px;
    transition: transform 0.2s;
}

.dog:hover {
    transform: scale(1.5);
}

.text {
    width: 200px;
    height: 200px;
    font-size: 18px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px;
}

.words {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    max-width: 800px;
    margin-bottom: 38px;
}

.author {
    margin-left: auto;
    margin-right: 500px;
    font-weight: bold;
    font-size: 18px;
}

.action {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 56px;
}

.banner {
    display: flex;
    background-color: #3883F6;
    width: 1000px;
    padding: 38px;
    border-radius: 10px;
}

.call {
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.detail {
    margin-left: 50px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F2937;
    height: 100px;
}